# Data Extraction & Schema Validation

This notebook loads quizzes.csv, questions.csv, and corrections.csv files into pandas DataFrames,<br>
validates that key columns are present, and makes a quick data inspection.

In [1]:
# Install required libraries (uncomment if running outside Docker)
# !pip install --quiet -r requirements_colab.txt

## 1. Load DataFrames
First, we need to load the data from the CSV files. The CSV files are in the same directory as this script.<br>
The CSV files are:<br>
    - quizzes.csv: contains the quiz data<br>
    - questions.csv: contains the question data<br>
    - corrections.csv: contains the correction data

In [2]:
import pandas as pd

# Load CSV files into DataFrames
quizzes_df = pd.read_csv("data/quizzes.csv")
questions_df = pd.read_csv("data/questions.csv")
corrections_df = pd.read_csv("data/corrections.csv")

## 2. Schema Validation (Key Columns)
This script checks the schema of the DataFrames loaded from the database.<br>
    - It verifies that the required columns are present in each DataFrame.<br>
    - If any required columns are missing, it prints an error message.<br>
    - If all required columns are present, it prints a success message.

In [3]:
# Minimal required columns for each DataFrame
required_columns = {
    'quizzes'   : ['id', 'time_allowed', 'online', 'name'],
    'questions' : ['id', 'evaluation_quiz_id', 'category', 'question_type', 'data_json'],
    'corrections': ['id', 'user_id', 'start_time', 'end_time', 'data_json', 'skipped']
}

dfs = {
    'quizzes': quizzes_df,
    'questions': questions_df,
    'corrections': corrections_df
}

for name, df in dfs.items():
    missing = set(required_columns[name]) - set(df.columns)
    if missing:
        print(f"❌ The DataFrame '{name}' is missing columns: {missing}")
    else:
        print(f"✅ DataFrame '{name}' schema OK: all key columns are present.")

✅ DataFrame 'quizzes' schema OK: all key columns are present.
✅ DataFrame 'questions' schema OK: all key columns are present.
✅ DataFrame 'corrections' schema OK: all key columns are present.

## 3. Quick Data Inspection
First we print the shape of each DataFrame to know how many rows and columns we have:

In [4]:
print("Quizzes DataFrame:", quizzes_df.shape)
print("Questions DataFrame:", questions_df.shape)
print("Corrections DataFrame:", corrections_df.shape)

Quizzes DataFrame: (145, 22)
Questions DataFrame: (2405, 12)
Corrections DataFrame: (40193, 11)

Then we check the columns of the dataframes to ensure they are as expected.<br> 
This is useful for debugging and understanding the structure of the data.

In [5]:
print("Quizzes DataFrame columns:\n", quizzes_df.columns)
print("Questions DataFrame columns:\n", questions_df.columns)
print("Corrections DataFrame columns:\n", corrections_df.columns)

Quizzes DataFrame columns:
 Index(['id', 'created_at', 'updated_at', 'curriculum_id', 'online', 'position',
       'days_offset', 'name', 'block_access', 'time_allowed',
       'start_description', 'in_progress_description', 'end_description',
       'overdue_description', 'allow_external_access',
       'randomize_questions_order', 'add_as_scored_track', 'weight',
       'released_by_staff', 'released_at_specific_time', 'release_time',
       'author_id'],
      dtype='object')
Questions DataFrame columns:
 Index(['id', 'created_at', 'updated_at', 'evaluation_quiz_id', 'online',
       'position', 'title', 'sub_title', 'category', 'question_type',
       'data_json', 'weight'],
      dtype='object')
Corrections DataFrame columns:
 Index(['id', 'created_at', 'updated_at', 'user_id',
       'batch_evaluation_quiz_item_id', 'start_time', 'end_time', 'data_json',
       'skipped', 'skip_not_focus_impact', 'skip_late_impact'],
      dtype='object')

After that we check the first rows of the dataframes to know the data better:

In [6]:
# Configuring pandas display options to show all columns
pd.set_option("display.max_columns", None)  # Will show all columns
pd.set_option("display.width", 1000)        # Will not wrap lines

# Displaing the first few rows of each DataFrame
print("Quizzes DataFrame head:")
display(quizzes_df.head())
print(150 * "=")
print("Questions DataFrame head:")
display(questions_df.head())
print(150 * "=")
print("Corrections DataFrame head:")
display(corrections_df.head())

Quizzes DataFrame head:

   id           created_at           updated_at  curriculum_id  online  position  days_offset                 name  block_access  time_allowed                                  start_description                            in_progress_description                                    end_description                                overdue_description  allow_external_access  randomize_questions_order  add_as_scored_track  weight  released_by_staff  released_at_specific_time  release_time  author_id
0   1  2018-06-08 05:06:28  2022-12-09 08:26:47            NaN       0         2            1               C quiz             1            60  ## C Quiz\r\n\r\nYou were asked to read **at l...      Time is ticking... so keep on clicking... ;-)  ## Great job! You're all done with the C quiz\...  ## Time's up, and the C quiz is over.\r\n**but...                      0                          0                    0       1                  1                          1           720        NaN
1   2  2018-06-08 18:24:34  2019-08-24 23:05:22            1.0       0       100            0     swag preferences             0             0  Let us know you size, style and color preferen...                                                NaN                                                NaN                                                NaN                      0                          0                    0       1                  0                          0             0        NaN
2   3  2018-06-08 18:37:06  2022-03-09 22:59:28            1.0       1         1            1    General Knowledge             1            30  ## General Quiz\r\n​\r\nThere are no grades as...      Time is ticking... so keep on clicking... ;-)  ## Great job! You're all done\r\n\r\nYou now h...  ## Time's up, and the quiz is over.\r\n\r\nYou...                      0                          0                    0       1                  0                          1           720        NaN
3   4  2018-06-08 23:38:29  2021-06-05 20:53:34            1.0       0         4            2  Student Survey - US             1            60  ## Student Survey\r\n\r\nWe are constantly str...  Choose the best fitting answer, and should you...          ## Thanks for your time, you're all done.         ## Thanks for your time, you've all done.                       1                          0                    0       1                  0                          1           720        NaN
4   5  2018-10-05 21:41:21  2019-08-24 23:05:25            1.0       0       101            0     Personality test             1            60  To better understand our students, we wanted t...  Please answer honestly even if you don't like ...  Thanks for taking the time to take this little...  Thanks for taking the time to take this little...                      0                          0                    0       1                  0                          0             0        NaN

======================================================================================================================================================
Questions DataFrame head:

   id           created_at           updated_at  evaluation_quiz_id  online  position                                              title                sub_title category   question_type                                          data_json  weight
0   1  2018-06-08 06:18:13  2019-01-05 01:24:50                   1       1         1                What C book did you choose to read?  (choose all that apply)      NaN  SelectMultiple  {"items":["The C Programming Language","Progra...       1
1   2  2018-06-08 06:18:13  2018-06-08 06:18:13                   1       1         2   How much time did you spend reading these books?               *in hours*      NaN           Input                                                NaN       1
2   3  2018-06-08 06:18:13  2018-06-10 19:13:34                   1       1         3  What is the identifier to print an address wit...                      NaN        C        Checkbox  {"items":[{"value":"`%a`","valid":false,"rando...       1
3   4  2018-06-08 06:18:13  2018-06-10 19:13:34                   1       1         4     What header contains the `printf()` prototype?                      NaN        C        Checkbox  {"items":[{"value":"string.h","valid":false,"r...       1
4   5  2018-06-08 06:18:13  2018-06-10 19:13:34                   1       1         5  The `printf()` function sends formatted output...                      NaN        C        Checkbox  {"items":[{"value":"True","valid":true,"random...       1

======================================================================================================================================================
Corrections DataFrame head:

   id           created_at           updated_at  user_id  batch_evaluation_quiz_item_id           start_time             end_time                                          data_json  skipped  skip_not_focus_impact  skip_late_impact
0   5  2018-06-11 07:05:44  2018-06-11 19:12:05      235                              3  2018-06-11 18:56:04  2018-06-11 19:12:05  {"question_answers":[{"id":1,"score":0,"answer...        0                      0                 0
1   6  2018-06-11 07:05:44  2018-06-11 20:30:34      304                              3  2018-06-11 20:08:22  2018-06-11 20:30:34  {"question_answers":[{"id":1,"score":0,"answer...        0                      0                 0
2   7  2018-06-11 07:05:44  2018-06-11 19:44:58      318                              3  2018-06-11 19:14:54  2018-06-11 19:44:58  {"question_answers":[{"id":1,"score":0,"answer...        0                      0                 0
3   8  2018-06-11 07:05:44  2018-06-11 19:49:14      357                              3  2018-06-11 19:21:40  2018-06-11 19:49:14  {"question_answers":[{"id":1,"score":0,"answer...        0                      0                 0
4   9  2018-06-11 07:05:44  2018-06-11 19:45:04      359                              3  2018-06-11 19:11:25  2018-06-11 19:45:04  {"question_answers":[{"id":1,"score":0,"answer...        0                      0                 0

Finally we obtain the information about the dataframes to check the types of the columns and their null values.<br>
This is useful to check if the columns are in the right format and if we need to convert them.

In [7]:
print("Quizzes DataFrame info:")
quizzes_df.info()
print(150 * "=")
print("Questions DataFrame info:")
questions_df.info()
print(150 * "=")
print("Corrections DataFrame info:")
corrections_df.info()

Quizzes DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         145 non-null    int64
 1   created_at                 145 non-null    object
 2   updated_at                 145 non-null    object
 3   curriculum_id              39 non-null     float64
 4   online                     145 non-null    int64
 5   position                   145 non-null    int64
 6   days_offset                145 non-null    int64
 7   name                       145 non-null    object
 8   block_access               145 non-null    int64
 9   time_allowed               145 non-null    int64
 10  start_description          134 non-null    object
 11  in_progress_description    128 non-null    object
 12  end_description            129 non-null    object
 13  overdue_description        126 non-null    object
 14  allow_external_access      145 non-null    int64
 15  randomize_questions_order  145 non-null    int64
 16  add_as_scored_track        145 non-null    int64
 17  weight                     145 non-null    int64
 18  released_by_staff          145 non-null    int64
 19  released_at_specific_time  145 non-null    int64
 20  release_time               145 non-null    int64
 21  author_id                  89 non-null     float64
dtypes: float64(2), int64(13), object(7)
memory usage: 25.0+ KB
======================================================================================================================================================
Questions DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2405 entries, 0 to 2404
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  2405 non-null   int64
 1   created_at          2405 non-null   object
 2   updated_at          2405 non-null   object
 3   evaluation_quiz_id  2405 non-null   int64
 4   online              2405 non-null   int64
 5   position            2405 non-null   int64
 6   title               2405 non-null   object
 7   sub_title           1322 non-null   object
 8   category            1953 non-null   object
 9   question_type       2405 non-null   object
 10  data_json           2282 non-null   object
 11  weight              2405 non-null   int64
dtypes: int64(5), object(7)
memory usage: 225.6+ KB
======================================================================================================================================================
Corrections DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40193 entries, 0 to 40192
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             40193 non-null  int64
 1   created_at                     40193 non-null  object
 2   updated_at                     40193 non-null  object
 3   user_id                        40193 non-null  int64
 4   batch_evaluation_quiz_item_id  40193 non-null  int64
 5   start_time                     28003 non-null  object
 6   end_time                       27972 non-null  object
 7   data_json                      38082 non-null  object
 8   skipped                        40193 non-null  int64
 9   skip_not_focus_impact          40193 non-null  int64
 10  skip_late_impact               40193 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.4+ MB

It can be seen in the previous output that there are several fields that have NULL values, which will be analyzed and converted during the Exploratory Data Analysis (EDA) and during the ETL (Extract, Transform, Load) process.<br>
In turn, all times will be transformed to *Datetime* and all the *data_json* fields will be processed.